<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap3/js/bootstrap.min.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script src="/js/uploadPreview.min.js"></script>
    <title>{% block title %}{% endblock %} -- nodejs.express</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
